version: '3'
services:
  nest:
    build:
      context: ./nest-app
      dockerfile: Dockerfile.dev
    depends_on:
      - database
      - storage
    ports:
      - 8080:8080
    volumes:
      - ./nest-app:/app
    environment:
      - NODE_ENV=development
      - DB_HOST=database
      - DB_PORT=3306
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - LOCAL_STORAGE_BASE_URL=http://storage:3001/mock-s3
    networks:
      - app-network

  storage:
    build:
      context: ./storage-service
      dockerfile: Dockerfile.dev
    ports:
      - 3001:3001
    environment:
      - PORT=3001
    networks:
      - app-network

  database:
    image: mysql:latest
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${ROOT_PASSWORD}
    ports:
      - '3307:3306'
    volumes:
      - ./db/mysql-init/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db/mysql-data:/var/lib/mysql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 20s
      retries: 10
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
